--USE DATABASE SH_OMOP_DB_PROD;
--USE SCHEMA OMOP_CLARITY;
--USE ROLE SF_SH_OMOP_DEVELOPER;
--USE WAREHOUSE SH_OMOP_DATA_SCIENCE_WH;

--TRUNCATE TABLE OMOP.PERSON;

INSERT INTO OMOP.PERSON
       (PERSON_ID 
            , GENDER_CONCEPT_ID
            , YEAR_OF_BIRTH
            , MONTH_OF_BIRTH
            , DAY_OF_BIRTH
            , BIRTH_DATETIME
            , RACE_CONCEPT_ID
            , ETHNICITY_CONCEPT_ID
            , LOCATION_ID
            , PROVIDER_ID
            , CARE_SITE_ID
            , PERSON_SOURCE_VALUE
            , GENDER_SOURCE_VALUE
            , GENDER_SOURCE_CONCEPT_ID
            , RACE_SOURCE_VALUE
            , RACE_SOURCE_CONCEPT_ID
            , ETHNICITY_SOURCE_VALUE
            , ETHNICITY_SOURCE_CONCEPT_ID
)
SELECT DISTINCT PERSON_ID
     ,GENDER_CONCEPT_ID
    , YEAR_OF_BIRTH
    , MONTH_OF_BIRTH
    , DAY_OF_BIRTH
    , BIRTH_DATETIME
    , RACE_CONCEPT_ID
    , ETHNICITY_CONCEPT_ID
    , LOCATION_ID
    , PROVIDER_ID
    , CARE_SITE_ID
    , PERSON_SOURCE_VALUE
    , GENDER_SOURCE_VALUE
    , GENDER_SOURCE_CONCEPT_ID
    , RACE_SOURCE_VALUE
    , RACE_SOURCE_CONCEPT_ID
    , ETHNICITY_SOURCE_VALUE
    , ETHNICITY_SOURCE_CONCEPT_ID
       
FROM OMOP_CLARITY.PERSON_CLARITY_ALL