--USE DATABASE SH_OMOP_DB_PROD;
--USE SCHEMA OMOP_CLARITY;
--USE ROLE SF_SH_OMOP_DEVELOPER;
--USE WAREHOUSE SH_OMOP_DATA_SCIENCE_WH;

--DELETE FROM OMOP.DEATH;

INSERT INTO OMOP.DEATH
	(PERSON_ID
      ,DEATH_DATE
      ,DEATH_DATETIME
      , DEATH_TYPE_CONCEPT_ID
      ,CAUSE_CONCEPT_ID
      ,CAUSE_SOURCE_VALUE
      ,CAUSE_SOURCE_CONCEPT_ID)

SELECT  PERSON_ID
      ,DEATH_DATE
      ,DEATH_DATETIME
      ,32817 AS DEATH_TYPE_CONCEPT_ID 
      ,CAUSE_CONCEPT_ID
      ,CAUSE_SOURCE_VALUE
      ,CAUSE_SOURCE_CONCEPT_ID
  FROM OMOP_CLARITY.DEATH_CLARITY_ALL;


