--USE DATABASE SH_OMOP_DB_PROD;
--USE SCHEMA OMOP;
--USE ROLE SF_SH_OMOP_DEVELOPER;
--USE WAREHOUSE SH_OMOP_DATA_SCIENCE_WH;

--CREATE OR REPLACE SEQUENCE VISIT_OCCURRENCE START = 1 INCREMENT = 1;

--DELETE FROM OMOP.CONDITION_OCCURRENCE
--WHERE ETL_MODULE =  'VISIT_OCCURRENCE--CLARITYHOSP--ALL';

INSERT INTO OMOP.VISIT_OCCURRENCE (
--	VISIT_OCCURRENCE_ID
	 PERSON_ID
	, VISIT_CONCEPT_ID
	, VISIT_START_DATE
	, VISIT_START_DATETIME
	, VISIT_END_DATE
	, VISIT_END_DATETIME
	, VISIT_TYPE_CONCEPT_ID
	, PROVIDER_ID
	, CARE_SITE_ID
	, VISIT_SOURCE_VALUE
	, VISIT_SOURCE_CONCEPT_ID
	, ADMITTING_SOURCE_CONCEPT_ID
	, ADMITTING_SOURCE_VALUE
	, DISCHARGE_TO_CONCEPT_ID
	, DISCHARGE_TO_SOURCE_VALUE
	, PRECEDING_VISIT_OCCURRENCE_ID
	, ETL_MODULE
	)
SELECT DISTINCT --OMOP.VISIT_OCCURRENCE.NEXTVAL AS VISIT_OCCURRENCE_ID
	 OMOP_CLARITY.VISIT_OCCURRENCE_CLARITYHOSP_ALL.PERSON_ID AS PERSON_ID
	, COALESCE(SOURCE_TO_CONCEPT_MAP_VISIT.TARGET_CONCEPT_ID, 0) AS VISIT_CONCEPT_ID
	, cast(VISIT_OCCURRENCE_CLARITYHOSP_ALL.HOSP_ADMSN_TIME AS DATE) AS VISIT_START_DATE
	, VISIT_OCCURRENCE_CLARITYHOSP_ALL.HOSP_ADMSN_TIME AS VISIT_START_DATETIME
	, cast(VISIT_OCCURRENCE_CLARITYHOSP_ALL.HOSP_DISCH_TIME AS DATE) AS VISIT_END_DATE
	, VISIT_OCCURRENCE_CLARITYHOSP_ALL.HOSP_DISCH_TIME AS VISIT_END_DATETIME
	, 32817 AS VISIT_TYPE_CONCEPT_ID
	,COALESCE(ATTENDING.PROVIDER_ID,REFFERING.PROVIDER_ID)  AS PROVIDER_ID
	, VISIT_OCCURRENCE_CLARITYHOSP_ALL.HOSPITAL_AREA_ID AS CARE_SITE_ID
	, VISIT_OCCURRENCE_CLARITYHOSP_ALL.PAT_ENC_CSN_ID AS VISIT_SOURCE_VALUE
	, COALESCE(SOURCE_TO_CONCEPT_MAP_VISIT.TARGET_CONCEPT_ID, 0) AS VISIT_SOURCE_CONCEPT_ID
	, COALESCE(SOURCE_TO_CONCEPT_MAP_ADMIT.TARGET_CONCEPT_ID, 0) AS ADMITTING_SOURCE_CONCEPT_ID
	, cast( VISIT_OCCURRENCE_CLARITYHOSP_ALL.ADMIT_SOURCE_C AS VARCHAR(10)) || ':' || LEFT(ADMIT_SOURCE_NAME, 45) AS ADMITTING_SOURCE_VALUE
	, COALESCE(SOURCE_TO_CONCEPT_MAP_DISCHARGE.TARGET_CONCEPT_ID, 0) AS DISCHARGE_TO_CONCEPT_ID
	, cast( VISIT_OCCURRENCE_CLARITYHOSP_ALL.DISCH_DISP_C AS VARCHAR(10)) || ':' || LEFT(DISCH_DISP_NAME, 45) AS DISCHARGE_TO_SOURCE_VALUE
	, NULL AS PRECEDING_VISIT_OCCURRENCE_ID
	, 'VISIT_OCCURRENCE--CLARITYHOSP--ALL' AS ETL_MODULE

FROM OMOP_CLARITY.VISIT_OCCURRENCE_CLARITYHOSP_ALL

--INNER JOIN OMOP.AOU_DRIVER
--	ON VISIT_OCCURRENCE_CLARITYHOSP_ALL.PAT_ID = OMOP.AOU_DRIVER.EPIC_PAT_ID

LEFT JOIN OMOP.PROVIDER
	ON VISIT_OCCURRENCE_CLARITYHOSP_ALL.BILL_ATTEND_PROV_ID = PROVIDER.PROVIDER_SOURCE_VALUE

LEFT JOIN OMOP.PROVIDER ATTENDING
	ON VISIT_OCCURRENCE_CLARITYHOSP_ALL.ATTENDING_PROV_ID = ATTENDING.PROVIDER_SOURCE_VALUE

LEFT JOIN OMOP.PROVIDER REFFERING
	ON VISIT_OCCURRENCE_CLARITYHOSP_ALL.REFERRING_PROV_ID = REFFERING.PROVIDER_SOURCE_VALUE

left JOIN OMOP.CARE_SITE
	ON VISIT_OCCURRENCE_CLARITYHOSP_ALL.HOSPITAL_AREA_ID = CARE_SITE.CARE_SITE_ID
--INNER JOIN EPICCLARITY.DBO.ZC_PAT_CLASS
--	ON VISIT_OCCURRENCE_CLARITYHOSP_ALL.ADT_PAT_CLASS_C = ZC_PAT_CLASS.ADT_PAT_CLASS_C
--INNER JOIN EPICCLARITY.DBO.ZC_ADM_SOURCE
--	ON VISIT_OCCURRENCE_CLARITYHOSP_ALL.ADMIT_SOURCE_C = ZC_ADM_SOURCE.ADMIT_SOURCE_C
--INNER JOIN EPICCLARITY.DBO.ZC_DISCH_DISP
--	ON VISIT_OCCURRENCE_CLARITYHOSP_ALL.DISCH_DISP_C = ZC_DISCH_DISP.DISCH_DISP_C
INNER JOIN OMOP.SOURCE_TO_CONCEPT_MAP AS SOURCE_TO_CONCEPT_MAP_VISIT
	ON SOURCE_TO_CONCEPT_MAP_VISIT.SOURCE_CODE = VISIT_OCCURRENCE_CLARITYHOSP_ALL.ADT_PAT_CLASS_C
		AND SOURCE_TO_CONCEPT_MAP_VISIT.SOURCE_VOCABULARY_ID = 'SH_visit'
LEFT JOIN OMOP.SOURCE_TO_CONCEPT_MAP AS SOURCE_TO_CONCEPT_MAP_ADMIT
	ON SOURCE_TO_CONCEPT_MAP_ADMIT.SOURCE_CODE = VISIT_OCCURRENCE_CLARITYHOSP_ALL.ADMIT_SOURCE_C
		AND SOURCE_TO_CONCEPT_MAP_ADMIT.SOURCE_VOCABULARY_ID = 'SH_admit'
LEFT JOIN OMOP.SOURCE_TO_CONCEPT_MAP AS SOURCE_TO_CONCEPT_MAP_DISCHARGE
	ON SOURCE_TO_CONCEPT_MAP_DISCHARGE.SOURCE_CODE = VISIT_OCCURRENCE_CLARITYHOSP_ALL.DISCH_DISP_C
		AND SOURCE_TO_CONCEPT_MAP_DISCHARGE.SOURCE_VOCABULARY_ID = 'SH_discharge'
LEFT JOIN --VISIT DATE CANNOT BE >30 DAYS AFTER DEATH_DATE
	OMOP.DEATH
	ON OMOP.DEATH.PERSON_ID = VISIT_OCCURRENCE_CLARITYHOSP_ALL.PERSON_ID
WHERE HOSP_DISCH_TIME IS NOT NULL
	AND HOSP_ADMSN_TIME IS NOT NULL
	AND -- FUTURE VISITS REMOVED
	HOSP_ADMSN_TIME < COALESCE(DATEADD(DAY, 30, DEATH_DATE), GETDATE());

