--Structure: (if your structure is different, you will have to modify the code to match)
--    Databases:SH_OMOP_DB_PROD, SH_CLINICAL_DB_PROD
--    Schemas: SH_OMOP_DB_PROD.OMOP_CLARITY, SH_OMOP_DB_PROD.CDM, SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ

--USE ROLE SF_SH_OMOP_DEVELOPER;
----USE SCHEMA SH_OMOP_DB_PROD.OMOP_CLARITY;
--USE WAREHOUSE SH_OMOP_DATA_SCIENCE_WH;
--
--DELETE FROM SH_OMOP_DB_PROD.CDM.DEATH;


INSERT INTO SH_OMOP_DB_PROD.CDM.DEATH
	(PERSON_ID
      ,DEATH_DATE
      ,DEATH_DATETIME
      ,DEATH_TYPE_CONCEPT_ID
      ,CAUSE_CONCEPT_ID
      ,CAUSE_SOURCE_VALUE
      ,CAUSE_SOURCE_CONCEPT_ID)

SELECT  PERSON_ID
      ,DEATH_DATE
      ,DEATH_DATETIME
      ,32817 AS DEATH_TYPE_CONCEPT_ID -- FROM EHR
      ,0 AS CAUSE_CONCEPT_ID
      ,NULL AS CAUSE_SOURCE_VALUE
      ,0 AS CAUSE_SOURCE_CONCEPT_ID
  FROM SH_OMOP_DB_PROD.OMOP_CLARITY.DEATH_CLARITY_ALL;


