--USE ROLE SF_SH_OMOP_DEVELOPER;
--
----USE SCHEMA SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ;
----USE SCHEMA SH_OMOP_DB_PROD.OMOP_CLARITY;
--USE SCHEMA SH_OMOP_DB_PROD.CDM;
----
----USE WAREHOUSE SH_OMOP_DATA_SCIENCE_WH;
--
--DELETE FROM CDM.CONDITION_OCCURRENCE
--WHERE ETL_MODULE =  'VISIT_OCCURRENCE--CLARITYHOSP--ALL';

INSERT INTO CDM.VISIT_OCCURRENCE (
	 PERSON_ID
	, VISIT_CONCEPT_ID
	, VISIT_START_DATE
	, VISIT_START_DATETIME
	, VISIT_END_DATE
	, VISIT_END_DATETIME
	, VISIT_TYPE_CONCEPT_ID
	, PROVIDER_ID
	, CARE_SITE_ID
	, VISIT_SOURCE_VALUE
	, VISIT_SOURCE_CONCEPT_ID
	, ADMITTING_SOURCE_CONCEPT_ID
	, ADMITTING_SOURCE_VALUE
	, DISCHARGE_TO_CONCEPT_ID
	, DISCHARGE_TO_SOURCE_VALUE
	, PRECEDING_VISIT_OCCURRENCE_ID
	, ETL_MODULE
	)
SELECT DISTINCT  
	 OMOP_CLARITY.VISIT_OCCURRENCE_CLARITYHOSP_ALL.PERSON_ID AS PERSON_ID
	, COALESCE(SOURCE_TO_CONCEPT_MAP_VISIT.TARGET_CONCEPT_ID, 0) AS VISIT_CONCEPT_ID
	, cast(VISIT_OCCURRENCE_CLARITYHOSP_ALL.HOSP_ADMSN_TIME AS DATE) AS VISIT_START_DATE
	, VISIT_OCCURRENCE_CLARITYHOSP_ALL.HOSP_ADMSN_TIME AS VISIT_START_DATETIME
	, cast(VISIT_OCCURRENCE_CLARITYHOSP_ALL.HOSP_DISCH_TIME AS DATE) AS VISIT_END_DATE
	, VISIT_OCCURRENCE_CLARITYHOSP_ALL.HOSP_DISCH_TIME AS VISIT_END_DATETIME
	, 32817 AS VISIT_TYPE_CONCEPT_ID
	,COALESCE(ATTENDING.PROVIDER_ID,REFFERING.PROVIDER_ID)  AS PROVIDER_ID
	, VISIT_OCCURRENCE_CLARITYHOSP_ALL.HOSPITAL_AREA_ID AS CARE_SITE_ID
	, VISIT_OCCURRENCE_CLARITYHOSP_ALL.PAT_ENC_CSN_ID AS VISIT_SOURCE_VALUE
	, COALESCE(SOURCE_TO_CONCEPT_MAP_VISIT.TARGET_CONCEPT_ID, 0) AS VISIT_SOURCE_CONCEPT_ID
	, COALESCE(SOURCE_TO_CONCEPT_MAP_ADMIT.TARGET_CONCEPT_ID, 0) AS ADMITTING_SOURCE_CONCEPT_ID
	, cast( VISIT_OCCURRENCE_CLARITYHOSP_ALL.ADMIT_SOURCE_C AS VARCHAR(10)) || ':' || LEFT(ADMIT_SOURCE_NAME, 45) AS ADMITTING_SOURCE_VALUE
	, COALESCE(SOURCE_TO_CONCEPT_MAP_DISCHARGE.TARGET_CONCEPT_ID, 0) AS DISCHARGE_TO_CONCEPT_ID
	, cast( VISIT_OCCURRENCE_CLARITYHOSP_ALL.DISCH_DISP_C AS VARCHAR(10)) || ':' || LEFT(DISCH_DISP_NAME, 45) AS DISCHARGE_TO_SOURCE_VALUE
	, NULL AS PRECEDING_VISIT_OCCURRENCE_ID
	, 'VISIT_OCCURRENCE--CLARITYHOSP--ALL' AS ETL_MODULE

FROM OMOP_CLARITY.VISIT_OCCURRENCE_CLARITYHOSP_ALL

LEFT JOIN CDM.PROVIDER
	ON VISIT_OCCURRENCE_CLARITYHOSP_ALL.BILL_ATTEND_PROV_ID = PROVIDER.PROVIDER_SOURCE_VALUE

LEFT JOIN CDM.PROVIDER ATTENDING
	ON VISIT_OCCURRENCE_CLARITYHOSP_ALL.ATTENDING_PROV_ID = ATTENDING.PROVIDER_SOURCE_VALUE

LEFT JOIN CDM.PROVIDER REFFERING
	ON VISIT_OCCURRENCE_CLARITYHOSP_ALL.REFERRING_PROV_ID = REFFERING.PROVIDER_SOURCE_VALUE

left JOIN CDM.CARE_SITE
	ON VISIT_OCCURRENCE_CLARITYHOSP_ALL.HOSPITAL_AREA_ID = CARE_SITE.CARE_SITE_ID

INNER JOIN CDM.SOURCE_TO_CONCEPT_MAP AS SOURCE_TO_CONCEPT_MAP_VISIT
	ON SOURCE_TO_CONCEPT_MAP_VISIT.SOURCE_CODE = VISIT_OCCURRENCE_CLARITYHOSP_ALL.ADT_PAT_CLASS_C
		AND UPPER(SOURCE_TO_CONCEPT_MAP_VISIT.SOURCE_VOCABULARY_ID) = 'SH_VISIT'
		
LEFT JOIN CDM.SOURCE_TO_CONCEPT_MAP AS SOURCE_TO_CONCEPT_MAP_ADMIT
	ON SOURCE_TO_CONCEPT_MAP_ADMIT.SOURCE_CODE = VISIT_OCCURRENCE_CLARITYHOSP_ALL.ADMIT_SOURCE_C
		AND UPPER(SOURCE_TO_CONCEPT_MAP_ADMIT.SOURCE_VOCABULARY_ID) = 'SH_ADMIT'
		
LEFT JOIN CDM.SOURCE_TO_CONCEPT_MAP AS SOURCE_TO_CONCEPT_MAP_DISCHARGE
	ON SOURCE_TO_CONCEPT_MAP_DISCHARGE.SOURCE_CODE = VISIT_OCCURRENCE_CLARITYHOSP_ALL.DISCH_DISP_C
		AND UPPER(SOURCE_TO_CONCEPT_MAP_DISCHARGE.SOURCE_VOCABULARY_ID) = 'SH_DISCHARGE'
		
LEFT JOIN --VISIT DATE CANNOT BE >30 DAYS AFTER DEATH_DATE
	CDM.DEATH
	ON CDM.DEATH.PERSON_ID = VISIT_OCCURRENCE_CLARITYHOSP_ALL.PERSON_ID
	
WHERE HOSP_DISCH_TIME IS NOT NULL
	AND HOSP_ADMSN_TIME IS NOT NULL
	AND -- FUTURE VISITS REMOVED
	HOSP_ADMSN_TIME < COALESCE(DATEADD(DAY, 30, DEATH_DATE), GETDATE());

