/*******************************************************************************
# COPYRIGHT 2020 SPECTRUM HEALTH 
# HTTP://WWW.SPECTRUMHEALTH.ORG
#
# UNLESS REQUIRED BY APPLICABLE LAW OR AGREED TO IN WRITING, THIS SOFTWARE
# IS DISTRIBUTED ON AN "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, 
# EITHER EXPRESS OR IMPLIED.
#
********************************************************************************/


/*******************************************************************************
NAME: APP_MEASUREMENT_LOINC_AMB_2.SQL

AUTHOR: ROGER CARLSON
		SPECTRUM HEALTH
		ROGER.CARLSON@SPECTRUMHEALTH.ORG

LAST REVISED: 14-JUNE-2020
		
DESCRIPTION: THIS SCRIPT IS THE 2ND IT A TWO-PART PROCESS.  IT IS USED IN CONJUNCTION WITH 
	(AND FOLLOWING) PULL_MEASUREMENT_LOINC_AMB_2.SQL. 

	ITS PURPOSE IS TO JOIN THE DATA IN OMOP_CLARITY.MEASUREMENT_CLARITYAMB_LOINC TO THE OMOP CONCEPT TABLE
	TO RETURN STANDARD CONCEPT IDS, AND APPEND THIS DATA TO CDM.MEASUREMENT.

STRUCTURE: (IF YOUR STRUCTURE IS DIFFERENT, YOU WILL HAVE TO MODIFY THE CODE TO MATCH)
    Databases:SH_OMOP_DB_PROD
    Schemas: SH_OMOP_DB_PROD.OMOP_CLARITY, SH_OMOP_DB_PROD.CDM

NOTE: I DON'T USE ALIASES UNLESS NECESSARY FOR JOINING. I FIND THEM MORE CONFUSING THAN HELPFUL.

********************************************************************************/
--USE ROLE SF_SH_OMOP_DEVELOPER;

--USE SCHEMA SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ;
--USE SCHEMA SH_OMOP_DB_PROD.OMOP_CLARITY;
--USE SCHEMA SH_OMOP_DB_PROD.CDM;

--USE WAREHOUSE SH_OMOP_DATA_SCIENCE_WH;

--DELETE FROM CDM.MEASUREMENT
--WHERE ETL_MODULE =  'MEASUREMENT--CLARITYAMB--LOINC';

INSERT INTO SH_OMOP_DB_PROD.CDM.MEASUREMENT
(	  --MEASUREMENT_ID
      PERSON_ID
      ,MEASUREMENT_CONCEPT_ID
      ,MEASUREMENT_DATE
      ,MEASUREMENT_DATETIME
      ,MEASUREMENT_TYPE_CONCEPT_ID
      ,OPERATOR_CONCEPT_ID
      ,VALUE_AS_NUMBER
      ,VALUE_AS_CONCEPT_ID
      ,UNIT_CONCEPT_ID
      ,RANGE_LOW
      ,RANGE_HIGH
      ,PROVIDER_ID
      ,VISIT_OCCURRENCE_ID
      ,VISIT_DETAIL_ID 
      ,MEASUREMENT_SOURCE_VALUE
      ,MEASUREMENT_SOURCE_CONCEPT_ID
      ,UNIT_SOURCE_VALUE
      ,VALUE_SOURCE_VALUE
	  , ETL_MODULE
	  ,VISIT_SOURCE_VALUE
)

WITH T_SOURCE
AS (
	SELECT CONCEPT_ID
		,CONCEPT_CODE
	FROM SH_OMOP_DB_PROD.CDM.CONCEPT AS C
	WHERE (	C.INVALID_REASON IS NULL OR C.INVALID_REASON = '')
		AND UPPER(C.DOMAIN_ID) = 'MEASUREMENT'
		AND VOCABULARY_ID = 'LOINC'
		AND UPPER(CONCEPT_CLASS_ID) = 'LAB TEST'
	)
	
,T_CONCEPT
AS (
	SELECT C2.CONCEPT_ID AS CONCEPT_ID
		,C1.CONCEPT_ID AS SOURCE_CONCEPT_ID
	FROM SH_OMOP_DB_PROD.CDM.CONCEPT C1
	
	INNER JOIN SH_OMOP_DB_PROD.CDM.CONCEPT_RELATIONSHIP CR
		ON C1.CONCEPT_ID = CR.CONCEPT_ID_1
			AND UPPER(CR.RELATIONSHIP_ID) = 'MAPS TO'
	INNER JOIN SH_OMOP_DB_PROD.CDM.CONCEPT C2
		ON C2.CONCEPT_ID = CR.CONCEPT_ID_2
	WHERE C2.STANDARD_CONCEPT = 'S'
		AND (C2.INVALID_REASON IS NULL OR C2.INVALID_REASON = '')
		AND UPPER(C2.DOMAIN_ID) = 'MEASUREMENT'
		AND C2.VOCABULARY_ID = 'LOINC'
		AND UPPER(C2.CONCEPT_CLASS_ID) = 'LAB TEST'
	)

SELECT DISTINCT --SH_OMOP_DB_PROD.CDM.SEQ_MEASUREMENT.NEXTVAL AS MEASUREMENT_ID
	MEASUREMENT_CLARITYAMB_LOINC.PERSON_ID
	,T_CONCEPT.CONCEPT_ID AS MEASUREMENT_CONCEPT_ID
	,CAST ( MEASUREMENT_CLARITYAMB_LOINC.SPECIMN_TAKEN_TIME AS DATE) AS MEASUREMENT_DATE
	,MEASUREMENT_CLARITYAMB_LOINC.SPECIMN_TAKEN_TIME AS MEASUREMENT_DATETIME
	,32817 AS MEASUREMENT_TYPE_CONCEPT_ID --LAB RESULT
	,CASE 
		WHEN ORD_VALUE LIKE '>=%'
			THEN 4171755
		WHEN ORD_VALUE LIKE '<=%'
			THEN 4171754
		WHEN ORD_VALUE LIKE '<%'
			THEN 4171756
		WHEN ORD_VALUE LIKE '>%'
			THEN 4172704
		ELSE 4172703
		END AS OPERATOR_CONCEPT_ID
	,CASE 
		WHEN TRY_TO_NUMERIC(REPLACE(REPLACE(REPLACE(REPLACE(ORD_VALUE, '=', ''), '<', ''), '>', ''), ',', '')) IS NULL 
			THEN NULL
		ELSE REPLACE(REPLACE(REPLACE(REPLACE(ORD_VALUE, '=', ''), '<', ''), '>', ''), ',', '')
		END AS VALUE_AS_NUMBER
	,COALESCE(SOURCE_TO_CONCEPT_MAP_VALUE.TARGET_CONCEPT_ID, 0) AS VALUE_AS_CONCEPT_ID
	,COALESCE(SOURCE_TO_CONCEPT_MAP_UNIT.TARGET_CONCEPT_ID, 0) AS UNIT_CONCEPT_ID
	,CASE 
		WHEN TRY_TO_NUMERIC(REPLACE(REPLACE(REPLACE(REPLACE(MEASUREMENT_CLARITYAMB_LOINC.REFERENCE_LOW, '=', ''), '<', ''), '>', ''), ',', '')) IS NULL 
			THEN NULL
		ELSE CAST( REPLACE(REPLACE(REPLACE(REPLACE(MEASUREMENT_CLARITYAMB_LOINC.REFERENCE_LOW, '=', '' ), '<', ''), '>', ''), ',', '')AS FLOAT)
		END AS RANGE_LOW
	,CASE 
		WHEN TRY_TO_NUMERIC(REPLACE(REPLACE(REPLACE(REPLACE(MEASUREMENT_CLARITYAMB_LOINC.REFERENCE_HIGH, '=', ''), '<', ''), '>', ''), ',', '')) IS NULL 
			THEN NULL
		ELSE CAST( REPLACE(REPLACE(REPLACE(REPLACE(MEASUREMENT_CLARITYAMB_LOINC.REFERENCE_HIGH, '=', '' ), '<', ''), '>', ''), ',', '')AS FLOAT)
		END AS RANGE_HIGH

	,COALESCE(PROVIDER.PROVIDER_ID, VST.PROVIDER_ID, PCP.PROVIDER_ID) AS PROVIDER_ID
	,VISIT_OCCURRENCE.VISIT_OCCURRENCE_ID AS VISIT_OCCURRENCE_ID
	    
--    ,VISIT_DETAIL.VISIT_DETAIL_ID AS VISIT_DETAIL_ID
    ,0 AS VISIT_DETAIL_ID

	,LEFT(MEASUREMENT_CLARITYAMB_LOINC.LNC_CODE || ':' || MEASUREMENT_CLARITYAMB_LOINC.LNC_COMPON, 50) AS MEASUREMENT_SOURCE_VALUE
	,T_SOURCE.CONCEPT_ID AS MEASUREMENT_SOURCE_CONCEPT_ID
	,LEFT(MEASUREMENT_CLARITYAMB_LOINC.REFERENCE_UNIT, 49) AS UNIT_SOURCE_VALUE
	,LEFT(MEASUREMENT_CLARITYAMB_LOINC.ORD_VALUE, 49) AS VALUE_SOURCE_VALUE
	,'MEASUREMENT--CLARITYAMB--LOINC' AS ETL_MODULE
	,VISIT_SOURCE_VALUE

FROM OMOP_CLARITY.MEASUREMENT_CLARITYAMB_LOINC

INNER JOIN SH_OMOP_DB_PROD.CDM.VISIT_OCCURRENCE
	ON MEASUREMENT_CLARITYAMB_LOINC.PAT_ENC_CSN_ID = VISIT_OCCURRENCE.VISIT_SOURCE_VALUE
		--AND TRY_TO_NUMERIC(VISIT_OCCURRENCE.VISIT_SOURCE_VALUE) IS NOT NULL 

INNER JOIN T_SOURCE
	ON MEASUREMENT_CLARITYAMB_LOINC.LNC_CODE = T_SOURCE.CONCEPT_CODE

INNER JOIN T_CONCEPT
	ON T_CONCEPT.SOURCE_CONCEPT_ID = T_SOURCE.CONCEPT_ID

LEFT JOIN SH_OMOP_DB_PROD.CDM.PROVIDER
	ON MEASUREMENT_CLARITYAMB_LOINC.AUTHRZING_PROV_ID = PROVIDER.PROVIDER_SOURCE_VALUE

LEFT JOIN
    SH_OMOP_DB_PROD.CDM.PROVIDER AS VST
    ON  MEASUREMENT_CLARITYAMB_LOINC.VISIT_PROV_ID = VST.PROVIDER_SOURCE_VALUE         
LEFT JOIN
    SH_OMOP_DB_PROD.CDM.PROVIDER AS PCP
    ON  MEASUREMENT_CLARITYAMB_LOINC.PCP_PROV_ID = PCP.PROVIDER_SOURCE_VALUE  
        
LEFT JOIN SH_OMOP_DB_PROD.CDM.SOURCE_TO_CONCEPT_MAP AS SOURCE_TO_CONCEPT_MAP_UNIT
	ON MEASUREMENT_CLARITYAMB_LOINC.REFERENCE_UNIT = SOURCE_TO_CONCEPT_MAP_UNIT.SOURCE_CODE
		AND UPPER(SOURCE_TO_CONCEPT_MAP_UNIT.SOURCE_VOCABULARY_ID) = 'SH_UNIT'

LEFT JOIN SH_OMOP_DB_PROD.CDM.SOURCE_TO_CONCEPT_MAP AS SOURCE_TO_CONCEPT_MAP_VALUE
	ON MEASUREMENT_CLARITYAMB_LOINC.ORD_VALUE = SOURCE_TO_CONCEPT_MAP_VALUE.SOURCE_CODE
		AND UPPER(SOURCE_TO_CONCEPT_MAP_VALUE.SOURCE_VOCABULARY_ID) = 'VALUE_CONCEPT'

WHERE MEASUREMENT_CLARITYAMB_LOINC.ORDER_STATUS_C <> 4 
		AND MEASUREMENT_CLARITYAMB_LOINC.SPECIMN_TAKEN_TIME IS NOT NULL

		--ORDER BY VALUE_SOURCE_VALUE