/*******************************************************************************
# Copyright 2020 Spectrum Health 
# http://www.spectrumhealth.org
#
# Unless required by applicable law or agreed to in writing, this software
# is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, 
# either express or implied.
#
********************************************************************************/

/*******************************************************************************
Name: app_measurement_HSP_LOINC_2

Author: Roger Carlson
		Spectrum Health
		roger.carlson@spectrumhealth.org

Last Revised: 14-June-2020
		
Description: This script is the 2nd it a two-part process.  It is used in conjunction with 
	(and following) pull_measurement_HSP_LOINC_2. 

	Its purpose is to join the data in OMOP_Clarity.MEASUREMENT_ClarityHosp_LOINC to the OMOP concept table
	to return standard concept ids, and append this data to CDM.measurement.

Structure: (if your structure is different, you will have to modify the code to match)
	Database:EpicCare
	Schemas: EpicCare.OMOP, EpicCare.OMOP_Clarity

Note: I don't use aliases unless necessary for joining. I find them more confusing than helpful.

********************************************************************************/

--USE DATABASE SH_OMOP_DB_PROD;
----USE SCHEMA OMOP_CLARITY;
--USE ROLE SF_SH_OMOP_DEVELOPER;
--USE WAREHOUSE SH_OMOP_DATA_SCIENCE_WH;

--CREATE OR REPLACE SEQUENCE CDM.SEQ_MEASUREMENT START = 1 INCREMENT = 1;

--DELETE FROM CDM.MEASUREMENT
--WHERE ETL_MODULE =  'MEASUREMENT--ClarityHosp--LOINC';


INSERT INTO CDM.MEASUREMENT (
--	MEASUREMENT_ID
	PERSON_ID
	,MEASUREMENT_CONCEPT_ID
	,MEASUREMENT_DATE
	,MEASUREMENT_DATETIME
	,MEASUREMENT_TYPE_CONCEPT_ID
	,OPERATOR_CONCEPT_ID
	,VALUE_AS_NUMBER
	,VALUE_AS_CONCEPT_ID
	,UNIT_CONCEPT_ID
	,RANGE_LOW
	,RANGE_HIGH
	,PROVIDER_ID
	,VISIT_OCCURRENCE_ID
	,VISIT_DETAIL_ID 
	,MEASUREMENT_SOURCE_VALUE
	,MEASUREMENT_SOURCE_CONCEPT_ID
	,UNIT_SOURCE_VALUE
	,VALUE_SOURCE_VALUE
	,ETL_MODULE
	,VISIT_SOURCE_VALUE
	)

WITH T_SOURCE
AS (
	SELECT CONCEPT_ID
		,CONCEPT_CODE
	
	FROM OMOP.CONCEPT AS C
	
	WHERE (
			C.INVALID_REASON IS NULL
			OR C.INVALID_REASON = ''
			)
		AND UPPER(C.DOMAIN_ID) = 'MEASUREMENT'
		AND UPPER(VOCABULARY_ID) = 'LOINC'
		AND UPPER(CONCEPT_CLASS_ID) = 'LAB TEST'

	)
	
,T_CONCEPT
AS (
	SELECT C2.CONCEPT_ID AS CONCEPT_ID
		,C1.CONCEPT_ID AS SOURCE_CONCEPT_ID
	
	FROM OMOP.CONCEPT C1
	
	INNER JOIN OMOP.CONCEPT_RELATIONSHIP CR
		ON C1.CONCEPT_ID = CR.CONCEPT_ID_1
			AND UPPER(CR.RELATIONSHIP_ID) = 'MAPS TO'
	
	INNER JOIN OMOP.CONCEPT C2
		ON C2.CONCEPT_ID = CR.CONCEPT_ID_2
	
	WHERE C2.STANDARD_CONCEPT = 'S'
		AND (
			C2.INVALID_REASON IS NULL
			OR C2.INVALID_REASON = ''
			)
		AND UPPER(C2.DOMAIN_ID) = 'MEASUREMENT'
		AND UPPER(C2.VOCABULARY_ID) = 'LOINC'
		AND UPPER(C2.CONCEPT_CLASS_ID) = 'LAB TEST'

	)


SELECT DISTINCT	--CDM.SEQ_MEASUREMENT.NEXTVAL AS MEASUREMENT_ID
	MEASUREMENT_CLARITYHOSP_LOINC.PERSON_ID
	,T_CONCEPT.CONCEPT_ID AS MEASUREMENT_CONCEPT_ID
	,CAST( COALESCE(MEASUREMENT_CLARITYHOSP_LOINC.SPECIMN_TAKEN_TIME, MEASUREMENT_CLARITYHOSP_LOINC.ORDER_TIME )AS DATE) AS MEASUREMENT_DATE
	,COALESCE(MEASUREMENT_CLARITYHOSP_LOINC.SPECIMN_TAKEN_TIME, MEASUREMENT_CLARITYHOSP_LOINC.ORDER_TIME) AS MEASUREMENT_DATETIME
	,32817 AS MEASUREMENT_TYPE_CONCEPT_ID --LAB RESULT
	,CASE 
		WHEN ORD_VALUE LIKE '>=%'
			THEN 4171755
		WHEN ORD_VALUE LIKE '<=%'
			THEN 4171754
		WHEN ORD_VALUE LIKE '<%'
			THEN 4171756
		WHEN ORD_VALUE LIKE '>%'
			THEN 4172704
		ELSE 4172703
		END AS OPERATOR_CONCEPT_ID
	,CASE 
		WHEN TRY_TO_NUMERIC(REPLACE(REPLACE(REPLACE(REPLACE(ORD_VALUE, '=', ''), '<', ''), '>', ''), ',', '')) IS NULL
			THEN NULL
		ELSE REPLACE(REPLACE(REPLACE(REPLACE(ORD_VALUE, '=', ''), '<', ''), '>', ''), ',', '')
		END AS VALUE_AS_NUMBER
	,COALESCE(SOURCE_TO_CONCEPT_MAP_VALUE.TARGET_CONCEPT_ID, 0) AS VALUE_AS_CONCEPT_ID
	,COALESCE(SOURCE_TO_CONCEPT_MAP_UNIT.TARGET_CONCEPT_ID, 0) AS UNIT_CONCEPT_ID
	,CASE 
		WHEN TRY_TO_NUMERIC(REPLACE(REPLACE(REPLACE(REPLACE(MEASUREMENT_CLARITYHOSP_LOINC.REFERENCE_LOW, '=', ''), '<', ''), '>', ''), ',', '')) IS NULL
			THEN NULL
		ELSE CAST( REPLACE(REPLACE(REPLACE(REPLACE(MEASUREMENT_CLARITYHOSP_LOINC.REFERENCE_LOW, '=', ''), '<', ''), '>', ''), ',', '') AS FLOAT)
		END AS RANGE_LOW
	,CASE 
		WHEN TRY_TO_NUMERIC(REPLACE(REPLACE(REPLACE(REPLACE(MEASUREMENT_CLARITYHOSP_LOINC.REFERENCE_HIGH, '=', ''), '<', ''), '>', ''), ',', '')) IS NULL
			THEN NULL
		ELSE CAST( REPLACE(REPLACE(REPLACE(REPLACE(MEASUREMENT_CLARITYHOSP_LOINC.REFERENCE_HIGH, '=', ''), '<', ''), '>', ''), ',', '') AS FLOAT)
		END AS RANGE_HIGH
	,PROVIDER.PROVIDER_ID AS PROVIDER_ID
	,VISIT_OCCURRENCE.VISIT_OCCURRENCE_ID AS VISIT_OCCURRENCE_ID
	    
--    ,VISIT_DETAIL.VISIT_DETAIL_ID AS VISIT_DETAIL_ID
    ,0 AS VISIT_DETAIL_ID

	,LEFT(MEASUREMENT_CLARITYHOSP_LOINC.LNC_CODE || ':' || MEASUREMENT_CLARITYHOSP_LOINC.LNC_COMPON, 50) AS MEASUREMENT_SOURCE_VALUE
	,T_SOURCE.CONCEPT_ID AS MEASUREMENT_SOURCE_CONCEPT_ID
	,LEFT(MEASUREMENT_CLARITYHOSP_LOINC.REFERENCE_UNIT, 49) AS UNIT_SOURCE_VALUE
	,LEFT(MEASUREMENT_CLARITYHOSP_LOINC.ORD_VALUE, 49) AS VALUE_SOURCE_VALUE
	,'MEASUREMENT--CLARITYHOSP--LOINC' AS ETL_MODULE
	,VISIT_SOURCE_VALUE

FROM OMOP_CLARITY.MEASUREMENT_CLARITYHOSP_LOINC

INNER  JOIN CDM.VISIT_OCCURRENCE
	ON MEASUREMENT_CLARITYHOSP_LOINC.PAT_ENC_CSN_ID = VISIT_OCCURRENCE.VISIT_SOURCE_VALUE

INNER JOIN T_SOURCE
	ON MEASUREMENT_CLARITYHOSP_LOINC.LNC_CODE = T_SOURCE.CONCEPT_CODE

INNER JOIN T_CONCEPT
	ON T_CONCEPT.SOURCE_CONCEPT_ID = T_SOURCE.CONCEPT_ID

LEFT JOIN CDM.PROVIDER
	ON MEASUREMENT_CLARITYHOSP_LOINC.AUTHRZING_PROV_ID = PROVIDER.PROVIDER_SOURCE_VALUE

-- CASE-INSENSITIVE CODE
LEFT JOIN CDM.SOURCE_TO_CONCEPT_MAP AS SOURCE_TO_CONCEPT_MAP_UNIT
	ON MEASUREMENT_CLARITYHOSP_LOINC.REFERENCE_UNIT = SOURCE_TO_CONCEPT_MAP_UNIT.SOURCE_CODE
		AND UPPER(SOURCE_TO_CONCEPT_MAP_UNIT.SOURCE_VOCABULARY_ID) = 'SH_UNIT'

--REPLACES ABOVE IF CASE-SENSITIVITY IS NEEDED -- SLOWER SO DON'T USE IF NOT NEEDED
--LEFT JOIN CDM.SOURCE_TO_CONCEPT_MAP AS SOURCE_TO_CONCEPT_MAP_UNIT
--	ON ORDER_RESULTS.REFERENCE_UNIT COLLATE LATIN1_GENERAL_CS_AI = SOURCE_TO_CONCEPT_MAP_UNIT.SOURCE_CODE COLLATE LATIN1_GENERAL_CS_AI
--		AND SOURCE_TO_CONCEPT_MAP_UNIT.SOURCE_VOCABULARY_ID = 'SH_UNIT'

LEFT JOIN CDM.SOURCE_TO_CONCEPT_MAP AS SOURCE_TO_CONCEPT_MAP_VALUE
	ON MEASUREMENT_CLARITYHOSP_LOINC.ORD_VALUE = SOURCE_TO_CONCEPT_MAP_VALUE.SOURCE_CODE
		AND UPPER(SOURCE_TO_CONCEPT_MAP_VALUE.SOURCE_VOCABULARY_ID) = 'VALUE_CONCEPT'

WHERE (MEASUREMENT_CLARITYHOSP_LOINC.ORDER_STATUS_C <> 4)

