/*******************************************************************************
# Copyright 2020 Spectrum Health 
# http://www.spectrumhealth.org
#
# Unless required by applicable law or agreed to in writing, this software
# is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, 
# either express or implied.
#
********************************************************************************/

/*******************************************************************************
Name: app_drug_exposure_RXNORM_HSP_2

Author: Roger Carlson
		Spectrum Health
		roger.carlson@spectrumhealth.org

Last Revised: 14-June-2020
		
Description: This script is the 2nd it a two-part process.  It is used in conjunction with 
	(and following) pull_drug_exposure_RXNORM_HSP_2. 

	Its purpose is to join the data in OMOP_Clarity.DRUG_EXPOSURE_ClarityHosp_RXNORM to the OMOP concept table
	to return standard concept ids, and append this data to CDM.drug_exposure.

Structure: (if your structure is different, you will have to modify the code to match)
	Database:EpicCare
	Schemas: EpicCare.OMOP, EpicCare.OMOP_Clarity

Note: I don't use aliases unless necessary for joining. I find them more confusing than helpful.

********************************************************************************/

--USE DATABASE SH_OMOP_DB_PROD;
----USE SCHEMA OMOP_CLARITY;
--USE ROLE SF_SH_OMOP_DEVELOPER;
--USE WAREHOUSE SH_OMOP_DATA_SCIENCE_WH;

--DELETE FROM CDM.DRUG_EXPOSURE
--WHERE ETL_MODULE =  'DRUG_EXPOSURE--ClarityHosp--RXNORM';

--MAIN---------------------
INSERT INTO CDM.DRUG_EXPOSURE (
	 PERSON_ID
	,DRUG_CONCEPT_ID
	,DRUG_EXPOSURE_START_DATE
	,DRUG_EXPOSURE_START_DATETIME
	,DRUG_EXPOSURE_END_DATE
	,DRUG_EXPOSURE_END_DATETIME
	,VERBATIM_END_DATE
	,DRUG_TYPE_CONCEPT_ID
	,STOP_REASON
	,REFILLS
	,QUANTITY
	,DAYS_SUPPLY
	,SIG
	,ROUTE_CONCEPT_ID
	,LOT_NUMBER
	,PROVIDER_ID
	,VISIT_OCCURRENCE_ID
	,VISIT_DETAIL_ID 
	,DRUG_SOURCE_VALUE
	,DRUG_SOURCE_CONCEPT_ID
	,ROUTE_SOURCE_VALUE
	,DOSE_UNIT_SOURCE_VALUE
	,ETL_MODULE
	,VISIT_SOURCE_VALUE
	)

WITH TOP_RXNORM
AS (
	SELECT DISTINCT DRUG_EXPOSURE_CLARITYHOSP_RXNORM.MAR_ADMIN_INFO_LINE
		,MEDICATION_ID
		,C.CONCEPT_CODE
		,C.CONCEPT_CLASS_ID
		,C.THEORDER
	
	FROM OMOP_CLARITY.DRUG_EXPOSURE_CLARITYHOSP_RXNORM
	
	INNER JOIN (
		SELECT CONCEPT_CODE
			,CONCEPT_CLASS_ID
			--CURRENTLY USED: CLINICAL PACK, BRANDED DRUG, CLINICAL DRUG, BRAND NAME, QUANT CLINICAL DRUG, INGREDIENT
			,CASE 

				WHEN UPPER(CONCEPT_CLASS_ID) = 'INGREDIENT'
					THEN 10
				WHEN UPPER(CONCEPT_CLASS_ID) = 'CLINICAL DRUG FORM'
					THEN 20
				WHEN UPPER(CONCEPT_CLASS_ID) = 'BRANDED DRUG FORM'
					THEN 30
				WHEN UPPER(CONCEPT_CLASS_ID) = 'CLINICAL DRUG COMP'
					THEN 40
				WHEN UPPER(CONCEPT_CLASS_ID) = 'BRANDED DRUG COMP' -- ORDER NOT VERIFIED
					THEN 42
				WHEN UPPER(CONCEPT_CLASS_ID) = 'BRAND NAME' -- ORDER NOT VERIFIED
					THEN 45
				WHEN UPPER(CONCEPT_CLASS_ID) = 'QUANT CLINICAL DRUG'
					THEN 50
				WHEN UPPER(CONCEPT_CLASS_ID) = 'CLINICAL DRUG'
					THEN 60
				WHEN UPPER(CONCEPT_CLASS_ID) = 'BRANDED DRUG FORM'
					THEN 70
				WHEN UPPER(CONCEPT_CLASS_ID) = 'BRANDED DRUG'
					THEN 80
				WHEN UPPER(CONCEPT_CLASS_ID) = 'BRANDED PACK'
					THEN 99

						--DO NOT KNOW THE ORDER OF THESE
				WHEN UPPER(CONCEPT_CLASS_ID) = 'QUANT BRANDED DRUG'
					THEN 999
				WHEN UPPER(CONCEPT_CLASS_ID) = 'DOSE FORM GROUP'
					THEN 999
				WHEN UPPER(CONCEPT_CLASS_ID) = 'DOSE FORM'
					THEN 999
				WHEN UPPER(CONCEPT_CLASS_ID) = 'BRANDED DOSE GROUP'
					THEN 999
				WHEN UPPER(CONCEPT_CLASS_ID) = 'CLINICAL DOSE GROUP'
					THEN 999
				WHEN UPPER(CONCEPT_CLASS_ID) = 'PRECISE INGREDIENT'
					THEN 999
				WHEN UPPER(CONCEPT_CLASS_ID) = 'QUANT BRANDED DRUG'
					THEN 999
				ELSE 0
				END AS THEORDER
		
		FROM CDM.CONCEPT
		
		WHERE UPPER(VOCABULARY_ID) IN ('RXNORM')
			AND (
				INVALID_REASON IS NULL
				OR INVALID_REASON = ''
				)
			AND UPPER(DOMAIN_ID) = 'DRUG'
		) C
		ON OMOP_CLARITY.DRUG_EXPOSURE_CLARITYHOSP_RXNORM.RXNORM_CODE = CONCEPT_CODE
	
	WHERE OMOP_CLARITY.DRUG_EXPOSURE_CLARITYHOSP_RXNORM.RXNORM_TERM_TYPE_C <> 2 --2 - PRECISE INGREDIENT
	)
	,
	----------------------------
T_DRUG_SOURCE
AS (
	SELECT CONCEPT_ID
		,CONCEPT_CODE
		,CONCEPT_CLASS_ID
		,CONCEPT_NAME
	
	FROM CDM.CONCEPT AS C
	
	WHERE UPPER(C.VOCABULARY_ID) IN ('RXNORM')
		AND (
			C.INVALID_REASON IS NULL
			OR C.INVALID_REASON = ''
			)
		AND UPPER(C.DOMAIN_ID) = 'DRUG'
	)
	,
	----------------------------	
T_DRUG_CONCEPT
AS (
	SELECT C2.CONCEPT_ID AS DRUG_CONCEPT_ID
		,C1.CONCEPT_ID AS DRUG_CONCEPT_SOURCE_CONCEPT_ID
	
	FROM CDM.CONCEPT C1
	
		INNER JOIN CDM.CONCEPT_RELATIONSHIP CR
			ON C1.CONCEPT_ID = CR.CONCEPT_ID_1
				AND UPPER(CR.RELATIONSHIP_ID) = 'MAPS TO'
	
		INNER JOIN CDM.CONCEPT C2
			ON C2.CONCEPT_ID = CR.CONCEPT_ID_2
	
	WHERE C2.STANDARD_CONCEPT = 'S'
		AND (
			C2.INVALID_REASON IS NULL
			OR C2.INVALID_REASON = ''
			)
		AND UPPER(C2.DOMAIN_ID) = 'DRUG'
	)


SELECT DISTINCT 
--	CDM.SEQ_DRUG_EXPOSURE.NEXTVAL AS DRUG_EXPOSURE_ID
	DRUG_EXPOSURE_CLARITYHOSP_RXNORM.PERSON_ID
	,T_DRUG_CONCEPT.DRUG_CONCEPT_ID


	,CAST( TAKEN_TIME AS DATE) AS DRUG_EXPOSURE_START_DATE
	,TAKEN_TIME AS DRUG_EXPOSURE_START_DATETIME
	------

	--,CONVERT(DATE, COALESCE(ORDER_END_TIME, ORDER_START_TIME)) AS DRUG_EXPOSURE_END_DATE
	,CAST( COALESCE(ORDER_END_TIME, TAKEN_TIME)AS DATE) AS DRUG_EXPOSURE_END_DATE

	--,CASE 
	--	WHEN (CONVERT(DATE, COALESCE(ORDER_END_TIME, ORDER_START_TIME)) = CONVERT(DATE, ORDER_START_TIME))
	--		AND (COALESCE(ORDER_END_TIME, ORDER_START_TIME) < ORDER_START_TIME)
	--		THEN ORDER_START_TIME
	--	END AS DRUG_EXPOSURE_END_DATETIME
	,CASE 
		WHEN (CAST( COALESCE(ORDER_END_TIME, TAKEN_TIME)AS DATE) = CAST( TAKEN_TIME AS DATE))
			AND (COALESCE(ORDER_END_TIME, TAKEN_TIME) < TAKEN_TIME)
			THEN TAKEN_TIME
			ELSE
			COALESCE(ORDER_END_TIME, TAKEN_TIME)
		END AS DRUG_EXPOSURE_END_DATETIME	



	,END_DATE AS VERBATIM_END_DATE
	,32817 AS DRUG_TYPE_CONCEPT_ID -- EHR
	,LEFT(ZC_RSN_FOR_DISCON_NAME, 20) AS STOP_REASON
      ,	CASE 
		--WHEN TRY_CONVERT(INT,REFILLS) IS NULL
		WHEN TRY_CAST(REFILLS AS NUMERIC) IS NULL
			THEN NULL
		ELSE  REFILLS
		END AS REFILLS	
	
	,CASE 
		WHEN TRY_TO_NUMERIC(LEFT(QUANTITY, CHARINDEX(' ', QUANTITY))) IS NULL
			OR UPPER(ZC_MED_UNIT_NAME) = 'APPLICATION'
			THEN 1
		ELSE CAST (LEFT(QUANTITY, CHARINDEX(' ', QUANTITY)) AS FLOAT)
		END AS QUANTITY
	,NULL AS DAYS_SUPPLY
	,SIG AS SIG
	,COALESCE(SOURCE_TO_CONCEPT_MAP_ROUTE.TARGET_CONCEPT_ID, 0) AS ROUTE_CONCEPT_ID
	,NULL AS LOT_NUMBER
	,PROVIDER.PROVIDER_ID AS PROVIDER_ID
	,VISIT_OCCURRENCE_ID AS VISIT_OCCURRENCE_ID
	    
--    ,VISIT_DETAIL.VISIT_DETAIL_ID AS VISIT_DETAIL_ID
    ,0 AS VISIT_DETAIL_ID

	,CAST( DRUG_EXPOSURE_CLARITYHOSP_RXNORM.MEDICATION_ID AS VARCHAR) 
	       || ':' || LEFT(CLARITY_MEDICATION_NAME, 49 
	       - LEN(DRUG_EXPOSURE_CLARITYHOSP_RXNORM.MEDICATION_ID)) AS DRUG_SOURCE_VALUE
	,T_DRUG_SOURCE.CONCEPT_ID AS DRUG_SOURCE_CONCEPT_ID
	,CAST( DRUG_EXPOSURE_CLARITYHOSP_RXNORM.MED_ROUTE_C AS VARCHAR) 
	       || ':' || LEFT(ZC_ADMIN_ROUTE_NAME, 49 
	       - LEN(DRUG_EXPOSURE_CLARITYHOSP_RXNORM.MED_ROUTE_C)) AS ROUTE_SOURCE_VALUE
	,ZC_MED_UNIT_NAME AS DOSE_UNIT_SOURCE_VALUE
	,'DRUG_EXPOSURE--CLARITYHOSP--RXNORM' AS ETL_MODULE
	,VISIT_SOURCE_VALUE

FROM OMOP_CLARITY.DRUG_EXPOSURE_CLARITYHOSP_RXNORM

	INNER JOIN CDM.VISIT_OCCURRENCE
		ON DRUG_EXPOSURE_CLARITYHOSP_RXNORM.PAT_ENC_CSN_ID = VISIT_OCCURRENCE.VISIT_SOURCE_VALUE

	LEFT JOIN CDM.PROVIDER
		ON DRUG_EXPOSURE_CLARITYHOSP_RXNORM.AUTHRZING_PROV_ID = PROVIDER.PROVIDER_SOURCE_VALUE

--	LEFT JOIN DBO.ZC_ADMIN_ROUTE
--		ON DRUG_EXPOSURE_CLARITYHOSP_RXNORM.MED_ROUTE_C = ZC_ADMIN_ROUTE.MED_ROUTE_C

	INNER JOIN TOP_RXNORM
		ON DRUG_EXPOSURE_CLARITYHOSP_RXNORM.MEDICATION_ID = TOP_RXNORM.MEDICATION_ID

	INNER JOIN T_DRUG_SOURCE
		ON TOP_RXNORM.CONCEPT_CODE = T_DRUG_SOURCE.CONCEPT_CODE

	INNER JOIN T_DRUG_CONCEPT
		ON T_DRUG_SOURCE.CONCEPT_ID = T_DRUG_CONCEPT.DRUG_CONCEPT_SOURCE_CONCEPT_ID

	LEFT JOIN CDM.SOURCE_TO_CONCEPT_MAP AS SOURCE_TO_CONCEPT_MAP_ROUTE
		ON SOURCE_TO_CONCEPT_MAP_ROUTE.SOURCE_CODE::VARCHAR = DRUG_EXPOSURE_CLARITYHOSP_RXNORM.MED_ROUTE_C::VARCHAR
			AND UPPER(SOURCE_TO_CONCEPT_MAP_ROUTE.SOURCE_VOCABULARY_ID) = 'SH_ROUTE'

	INNER JOIN -- THIS REMOVES THE DUPLICATES 
		(
		SELECT MIN(MAR_ADMIN_INFO_LINE) AS FIRSTLINE
			,TOP_RXNORM.MEDICATION_ID
			,MIN(CONCEPT_CODE) AS CONCEPT_CODE
			,CONCEPT_CLASS_ID
			,THEORDER
	
		FROM TOP_RXNORM
	
		GROUP BY MEDICATION_ID
			,CONCEPT_CLASS_ID
			,THEORDER
			
	    QUALIFY ROW_NUMBER() OVER (PARTITION BY TOP_RXNORM.MEDICATION_ID ORDER BY THEORDER, FIRSTLINE) = 1
			
--		HAVING TOP_RXNORM.THEORDER IN (
--				SELECT TOP 1 THEORDER
--			
--				FROM TOP_RXNORM T2
--			
--				WHERE TOP_RXNORM.MEDICATION_ID = T2.MEDICATION_ID
--			
--				ORDER BY T2.THEORDER
--					,T2.MAR_ADMIN_INFO_LINE
--				)
		) X
		ON X.CONCEPT_CODE = TOP_RXNORM.CONCEPT_CODE
			AND X.MEDICATION_ID = TOP_RXNORM.MEDICATION_ID

WHERE DRUG_EXPOSURE_CLARITYHOSP_RXNORM.ORDER_START_TIME IS NOT NULL




