
--USE DATABASE SH_OMOP_DB_PROD;
----USE SCHEMA OMOP_CLARITY;
--USE ROLE SF_SH_OMOP_DEVELOPER;
--USE WAREHOUSE SH_OMOP_DATA_SCIENCE_WH;

--CREATE OR REPLACE SEQUENCE CDM.SEQ_PROCEDURE_OCCURRENCE START = 1 INCREMENT = 1;

--DELETE FROM CDM.PROCEDURE_OCCURRENCE
--WHERE ETL_MODULE = 'PROCEDURE_OCCURRENCE--ClarityAMB--CPT';

INSERT INTO CDM.PROCEDURE_OCCURRENCE (
--	PROCEDURE_OCCURRENCE_ID
	PERSON_ID
	,PROCEDURE_CONCEPT_ID
	,PROCEDURE_DATE
	,PROCEDURE_DATETIME
	,PROCEDURE_TYPE_CONCEPT_ID
	,MODIFIER_CONCEPT_ID
	,QUANTITY
	,PROVIDER_ID
	,VISIT_OCCURRENCE_ID
	,VISIT_DETAIL_ID 
	,PROCEDURE_SOURCE_VALUE
	,PROCEDURE_SOURCE_CONCEPT_ID
	,MODIFIER_SOURCE_VALUE
	,ETL_MODULE
    ,VISIT_SOURCE_VALUE
	)

WITH	T_SOURCE
AS (
	SELECT CONCEPT_ID
		,CONCEPT_CODE
		,DOMAIN_ID
		,VOCABULARY_ID
	
	FROM CDM.CONCEPT AS C
	
	WHERE UPPER(C.VOCABULARY_ID) IN ('CPT4')

		AND UPPER(C.DOMAIN_ID) = 'PROCEDURE'
	)
	,T_CONCEPT
AS (
	SELECT C2.CONCEPT_ID AS CONCEPT_ID
		,C1.CONCEPT_ID AS SOURCE_CONCEPT_ID
	
	FROM CDM.CONCEPT C1
	
	INNER JOIN CDM.CONCEPT_RELATIONSHIP CR
		ON C1.CONCEPT_ID = CR.CONCEPT_ID_1
			AND UPPER(CR.RELATIONSHIP_ID) = 'MAPS TO'
	
	INNER JOIN CDM.CONCEPT C2
		ON C2.CONCEPT_ID = CR.CONCEPT_ID_2
	
	WHERE C2.STANDARD_CONCEPT = 'S'
		AND UPPER(C2.DOMAIN_ID) = 'PROCEDURE'
	)

SELECT DISTINCT 
--	CDM.SEQ_PROCEDURE_OCCURRENCE.NEXTVAL AS PROCEDURE_OCCURRENCE_ID
	PROCEDURE_OCCURRENCE_CLARITYAMB_CPT.PERSON_ID
	,T_CONCEPT.CONCEPT_ID AS PROCEDURE_CONCEPT_ID
	,CAST( COALESCE(PROCEDURE_OCCURRENCE_CLARITYAMB_CPT.OP_CHILD_INSTANTIATED_TIME
				, PROCEDURE_OCCURRENCE_CLARITYAMB_CPT.OP_INSTANTIATED_TIME
				, PROCEDURE_OCCURRENCE_CLARITYAMB_CPT.OP_PROC_START_TIME
				, PROCEDURE_OCCURRENCE_CLARITYAMB_CPT.OP_ORDER_TIME) AS DATE) AS PROCEDURE_DATE
	,COALESCE(PROCEDURE_OCCURRENCE_CLARITYAMB_CPT.OP_CHILD_INSTANTIATED_TIME
				, PROCEDURE_OCCURRENCE_CLARITYAMB_CPT.OP_INSTANTIATED_TIME
				, PROCEDURE_OCCURRENCE_CLARITYAMB_CPT.OP_PROC_START_TIME
				, PROCEDURE_OCCURRENCE_CLARITYAMB_CPT.OP_ORDER_TIME) AS PROCEDURE_DATETIME

	,32817 AS PROCEDURE_TYPE_CONCEPT_ID
	,COALESCE(SOURCE_TO_CONCEPT_MAP_MODIFIER.TARGET_CONCEPT_ID, 0) AS MODIFIER_CONCEPT_ID
	,PROCEDURE_OCCURRENCE_CLARITYAMB_CPT.QUANTITY AS QUANTITY
	,PROVIDER.PROVIDER_ID AS PROVIDER_ID
	,VISIT_OCCURRENCE.VISIT_OCCURRENCE_ID AS VISIT_OCCURRENCE_ID
	    
--    ,VISIT_DETAIL.VISIT_DETAIL_ID AS VISIT_DETAIL_ID
    ,0 AS VISIT_DETAIL_ID

	,PROCEDURE_OCCURRENCE_CLARITYAMB_CPT.PROC_CODE || ':' 
		|| LEFT(PROCEDURE_OCCURRENCE_CLARITYAMB_CPT.PROC_NAME, 49 
		- LEN(PROCEDURE_OCCURRENCE_CLARITYAMB_CPT.PROC_CODE)) 
		AS PROCEDURE_SOURCE_VALUE
	,T_SOURCE.CONCEPT_ID AS PROCEDURE_SOURCE_CONCEPT_ID
	,PROCEDURE_OCCURRENCE_CLARITYAMB_CPT.MODIFIER1_ID || ':' || MODIFIER_NAME AS MODIFIER_SOURCE_VALUE
	,'PROCEDURE_OCCURRENCE--CLARITYAMB--CPT' AS ETL_MODULE
	,VISIT_SOURCE_VALUE

FROM OMOP_CLARITY.PROCEDURE_OCCURRENCE_CLARITYAMB_CPT

	INNER JOIN T_SOURCE
		ON PROCEDURE_OCCURRENCE_CLARITYAMB_CPT.PROC_CODE = T_SOURCE.CONCEPT_CODE

	INNER JOIN T_CONCEPT
		ON T_SOURCE.CONCEPT_ID = T_CONCEPT.CONCEPT_ID

	INNER JOIN CDM.VISIT_OCCURRENCE
		ON PROCEDURE_OCCURRENCE_CLARITYAMB_CPT.PAT_ENC_CSN_ID = VISIT_OCCURRENCE.VISIT_SOURCE_VALUE

	LEFT JOIN CDM.PROVIDER
		ON PROCEDURE_OCCURRENCE_CLARITYAMB_CPT.AUTHRZING_PROV_ID = PROVIDER.PROVIDER_SOURCE_VALUE

	LEFT JOIN CDM.SOURCE_TO_CONCEPT_MAP AS SOURCE_TO_CONCEPT_MAP_MODIFIER
		ON PROCEDURE_OCCURRENCE_CLARITYAMB_CPT.MODIFIER1_ID::VARCHAR = SOURCE_TO_CONCEPT_MAP_MODIFIER.SOURCE_CODE::VARCHAR 
			AND UPPER(source_to_concept_map_modifier.source_vocabulary_id) = 'SH_MODIFIER'

