/*******************************************************************************
# Copyright 2020 Spectrum Health 
# http://www.spectrumhealth.org
#
# Unless required by applicable law or agreed to in writing, this software
# is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, 
# either express or implied.
#
********************************************************************************/

/*******************************************************************************
Name: app_NOTE_HSP_2.sql

Author: Roger Carlson
		Spectrum Health
		roger.carlson@spectrumhealth.org

Last Revised: 14-June-2020
		
Description: This script is the 2nd it a two-part process.  It is used in conjunction with 
	(and following) pull_NOTE_HSP_2.sql. 

	Its purpose is to join the data in OMOP_Clarity.NOTE_ClarityHosp_ALL to the OMOP concept table
	to return standard concept ids, and append this data to CDM.note.

Structure: (if your structure is different, you will have to modify the code to match)
	Database:EpicCare
	Schemas: EpicCare.OMOP, EpicCare.OMOP_Clarity

Note: I don't use aliases unless necessary for joining. I find them more confusing than helpful.

********************************************************************************/

--USE DATABASE SH_OMOP_DB_PROD;
----USE SCHEMA OMOP_CLARITY;
--USE ROLE SF_SH_OMOP_DEVELOPER;
--USE WAREHOUSE SH_OMOP_DATA_SCIENCE_WH;

/*
DELETE FROM CDM.note
WHERE ETL_Module = 'NOTE--ClarityHosp--ALL';
*/

INSERT INTO CDM.NOTE (
PERSON_ID
	,NOTE_DATE
	,NOTE_DATETIME
	,NOTE_TYPE_CONCEPT_ID
	,NOTE_CLASS_CONCEPT_ID
	,NOTE_TITLE
	,NOTE_TEXT
	,ENCODING_CONCEPT_ID
	,LANGUAGE_CONCEPT_ID
	,PROVIDER_ID
	,VISIT_OCCURRENCE_ID
	,VISIT_DETAIL_ID 
	,NOTE_SOURCE_VALUE
	,ETL_MODULE
	,VISIT_SOURCE_VALUE
	)
	
WITH T_MAX_NOTE_DATE
AS (
	SELECT NOTE_ID
		,LINE AS LINE
		,MAX(CONTACT_DATE_REAL) AS MAX_CONTACT_DATE_REAL
	FROM  OMOP_CLARITY.NOTE_CLARITYHOSP_ALL
	GROUP BY NOTE_ID
		,LINE
	)

SELECT DISTINCT 
--CDM.SEQ_NOTE.NEXTVAL AS NOTE_ID
	NOTE_CLARITYHOSP_ALL.PERSON_ID
	,CAST (NOTE_CLARITYHOSP_ALL.ENTRY_INSTANT_DTTM AS DATE) AS NOTE_DATE
	,NOTE_CLARITYHOSP_ALL.ENTRY_INSTANT_DTTM AS NOTE_DATETIME
	,32817 AS NOTE_TYPE_CONCEPT_ID
	,COALESCE(SOURCE_TO_CONCEPT_MAP_NOTE_CLASS.TARGET_CONCEPT_ID, 0) AS NOTE_CLASS_CONCEPT_ID
	,NOTE_CLARITYHOSP_ALL.ZC_NOTE_TYPE_IP_NAME AS NOTE_TITLE

	-- ******************************************
	  ,'NO_TEXT' AS NOTE_TEXT	-- NO ACTUAL TEXT IS BEING WRITTEN AT THIS TIME OVER PHI CONCERNS
	--,NOTE_CLARITYHOSP_ALL.NOTE_TEXT AS NOTE_TEXT
	-- ******************************************

	,32678 AS ENCODING_CONCEPT_ID --UTF-8 
	,4180186 AS LANGUAGE_CONCEPT_ID
	,PROVIDER.PROVIDER_ID AS PROVIDER_ID
	,VISIT_OCCURRENCE.VISIT_OCCURRENCE_ID AS VISIT_OCCURRENCE_ID
	    
--    ,VISIT_DETAIL.VISIT_DETAIL_ID AS VISIT_DETAIL_ID
    ,0 AS VISIT_DETAIL_ID

	,NOTE_CLARITYHOSP_ALL.IP_NOTE_TYPE_C || ':' || NOTE_CLARITYHOSP_ALL.AMB_NOTE_YN || ':' || ZC_NOTE_TYPE_IP_NAME AS NOTE_SOURCE_VALUE
	,'NOTE--CLARITYHOSP--ALL' AS ETL_MODULE
	,VISIT_SOURCE_VALUE

FROM OMOP_CLARITY.NOTE_CLARITYHOSP_ALL

INNER JOIN T_MAX_NOTE_DATE
	ON NOTE_CLARITYHOSP_ALL.NOTE_ID = T_MAX_NOTE_DATE.NOTE_ID
	AND NOTE_CLARITYHOSP_ALL.LINE= T_MAX_NOTE_DATE.LINE

left JOIN CDM.SOURCE_TO_CONCEPT_MAP AS SOURCE_TO_CONCEPT_MAP_NOTE_TYPE
	ON NOTE_CLARITYHOSP_ALL.AMB_NOTE_YN = SOURCE_TO_CONCEPT_MAP_NOTE_TYPE.SOURCE_CODE
		AND UPPER(SOURCE_TO_CONCEPT_MAP_NOTE_TYPE.SOURCE_VOCABULARY_ID) = 'SH_NOTE_TYPE'

LEFT JOIN CDM.SOURCE_TO_CONCEPT_MAP AS SOURCE_TO_CONCEPT_MAP_NOTE_CLASS
	ON NOTE_CLARITYHOSP_ALL.IP_NOTE_TYPE_C || NOTE_CLARITYHOSP_ALL.AMB_NOTE_YN = SOURCE_TO_CONCEPT_MAP_NOTE_CLASS.SOURCE_CODE
		AND UPPER(SOURCE_TO_CONCEPT_MAP_NOTE_CLASS.SOURCE_VOCABULARY_ID) = 'SH_NOTE_CLASS'

INNER JOIN CDM.VISIT_OCCURRENCE
	ON NOTE_CLARITYHOSP_ALL.PAT_ENC_CSN_ID = VISIT_OCCURRENCE.VISIT_SOURCE_VALUE

LEFT JOIN CDM.PROVIDER
	ON NOTE_CLARITYHOSP_ALL.CALC_ATTEND_PROV_ID = PROVIDER.PROVIDER_SOURCE_VALUE

WHERE ENTRY_INSTANT_DTTM IS NOT NULL
	AND NOTE_CLARITYHOSP_ALL.LINE = 1

