--Structure: (if your structure is different, you will have to modify the code to match)
--    Databases:SH_OMOP_DB_PROD, SH_CLINICAL_DB_PROD
--    Schemas: SH_OMOP_DB_PROD.OMOP_CLARITY, SH_OMOP_DB_PROD.CDM, SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ

--USE ROLE SF_SH_OMOP_DEVELOPER;
--USE SCHEMA SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ;
--USE WAREHOUSE SH_OMOP_DATA_SCIENCE_WH;
--
--DELETE FROM SH_OMOP_DB_PROD.OMOP_CLARITY.PERSON_Clarity_ALL;

CREATE OR REPLACE TABLE SH_OMOP_DB_PROD.OMOP_CLARITY.PERSON_Clarity_ALL 
AS 

WITH MAX_RACE AS
(SELECT PAT_ID
	, MAX(LINE) AS MAXOFLINE
FROM SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ.PATIENT_RACE
GROUP BY PAT_ID )
	, PATIENT_RACE_MAX AS (
		SELECT PATIENT_RACE.PAT_ID
			, PATIENT_RACE.LINE
			, PATIENT_RACE.PATIENT_RACE_C
		FROM MAX_RACE
		INNER JOIN SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ.PATIENT_RACE
			ON (MAX_RACE.MAXOFLINE = PATIENT_RACE.LINE)
				AND (MAX_RACE.PAT_ID = PATIENT_RACE.PAT_ID)
)


SELECT DISTINCT
    SUBSTRING(AOU_DRIVER.AOU_ID, 2, LEN(AOU_DRIVER.AOU_ID))::NUMERIC     AS PERSON_ID
    , YEAR(PATIENT.BIRTH_DATE)                                  AS YEAR_OF_BIRTH
    , MONTH(PATIENT.BIRTH_DATE)                                 AS MONTH_OF_BIRTH
    , DAY(PATIENT.BIRTH_DATE)                                   AS DAY_OF_BIRTH
    , PATIENT.BIRTH_DATE										AS BIRTH_DATETIME
    , ZC_SEX.NAME                                               AS ZC_SEX_NAME
    , ZC_PATIENT_RACE.PATIENT_RACE_C
    , ZC_PATIENT_RACE.NAME                                      AS ZC_PATIENT_RACE_NAME
    , ZC_ETHNIC_GROUP.ETHNIC_GROUP_C
    , ZC_ETHNIC_GROUP.NAME                                      AS ZC_ETHNIC_GROUP_NAME
    , PATIENT.CUR_PCP_PROV_ID

    , PATIENT.CUR_PRIM_LOC_ID                                            
    , AOU_DRIVER.AOU_ID                                                      
    , PATIENT.SEX_C
    , LEFT(COALESCE(PATIENT.ADD_LINE_1, '') 
                    || COALESCE(PATIENT.ADD_LINE_2, '') 
                    || COALESCE(PATIENT.CITY, '') 
                    || COALESCE(LEFT(ZC_STATE.ABBR, 2), '') 
                    || COALESCE(PATIENT.ZIP, '') 
                    || COALESCE(ZC_COUNTY.COUNTY_C, ''), 50)    AS LOCATION_SOURCE_VALUE
    	,PATIENT.ADD_LINE_1
		,PATIENT.ADD_LINE_2
		,PATIENT.CITY
		,ZC_STATE.ABBR
		,PATIENT.ZIP
		,ZC_COUNTY.COUNTY_C

--INTO OMOP_Clarity.PERSON_Clarity_ALL
FROM SH_OMOP_DB_PROD.CDM.AOU_DRIVER 

    INNER JOIN SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ.PATIENT 
    	ON PATIENT.PAT_ID = AOU_DRIVER.EPIC_PAT_ID
 
	LEFT JOIN PATIENT_RACE_MAX --AS P_RACE
		ON PATIENT.PAT_ID = PATIENT_RACE_MAX.PAT_ID
		
	LEFT JOIN SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ.ZC_PATIENT_RACE AS ZC_PATIENT_RACE
		ON PATIENT_RACE_MAX.PATIENT_RACE_C = ZC_PATIENT_RACE.PATIENT_RACE_C
		
	LEFT JOIN SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ.ZC_ETHNIC_GROUP AS ZC_ETHNIC_GROUP
		ON ZC_ETHNIC_GROUP.ETHNIC_GROUP_C = PATIENT.ETHNIC_GROUP_C
		
	INNER JOIN SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ.ZC_SEX AS ZC_SEX
		ON ZC_SEX.RCPT_MEM_SEX_C = PATIENT.SEX_C
		
	LEFT JOIN SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ.ZC_STATE
		ON PATIENT.STATE_C = ZC_STATE.STATE_C
		
	LEFT JOIN SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ.ZC_COUNTY
		ON PATIENT.COUNTY_C = ZC_COUNTY.COUNTY_C


