/*******************************************************************************
# Copyright 2020 Spectrum Health 
# http://www.spectrumhealth.org
#
# Unless required by applicable law or agreed to in writing, this software
# is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, 
# either express or implied.
#
********************************************************************************/

/*******************************************************************************

Name: pull_drug_exposure_RXNORM_ANES_2

Author: Roger Carlson
		Spectrum Health
		roger.carlson@spectrumhealth.org

Last Revised: 14-June-2020
	
Description: This script is the 1st it a two-part process.  It is used in conjunction with 
	(and before) app_drug_exposure_RXNORM_ANES_2. 

	Its purpose is to query data from Epic Clarity and append this data to OMOP_Clarity.DRUG_EXPOSURE_ClarityANES_RXNORM
	which will be used later in app_drug_exposure_RXNORM_ANES_2.  The table may have numerous
	extraneous fields which can be used for verifying the base data returned from Clarity. 

	OMOP_Clarity.DRUG_EXPOSURE_ClarityANES_RXNORM may also be used in conjunction with other "APP_" scripts.

Structure: (if your structure is different, you will have to modify the code to match)
    Databases:SH_OMOP_DB_PROD, SH_CLINICAL_DB_PROD
    Schemas: SH_OMOP_DB_PROD.OMOP_CLARITY, SH_OMOP_DB_PROD.CDM, SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ

Note: I don't use aliases unless necessary for joining. I find them more confusing than helpful.

********************************************************************************/

--USE ROLE SF_SH_OMOP_DEVELOPER;

--USE SCHEMA SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ;
--USE SCHEMA SH_OMOP_DB_PROD.OMOP_CLARITY;
--USE SCHEMA SH_OMOP_DB_PROD.CDM;

--USE WAREHOUSE SH_OMOP_DATA_SCIENCE_WH;
    
    
CREATE OR REPLACE TABLE SH_OMOP_DB_PROD.OMOP_CLARITY.DRUG_EXPOSURE_ClarityANES_RXNORM 
AS  

SELECT DISTINCT SUBSTRING(CDM.AOU_DRIVER.AOU_ID, 2, LEN(CDM.AOU_DRIVER.AOU_ID)) AS PERSON_ID
	,AOU_ID
	-----HOSPITAL ENCOUNTER---------
	,PAT_ENC_HSP.PAT_ENC_CSN_ID
	--------------------------------
	,AN_PAT_ID
	,AN_53_ENC_CSN_ID
	,F_AN_RECORD_SUMMARY.AN_52_ENC_CSN_ID
	,AN_INPATIENT_DATA_ID
	,AN_LOG_ID
	,F_AN_RECORD_SUMMARY.AN_RESP_PROV_ID
	,ORDER_MED.AUTHRZING_PROV_ID
	,MAR_ADMIN_INFO.TAKEN_TIME
	,F_AN_RECORD_SUMMARY.AN_START_DATETIME
	,F_AN_RECORD_SUMMARY.AN_STOP_DATETIME
	,F_AN_RECORD_SUMMARY.AN_PROC_NAME
	,RXNORM_CODES.RXNORM_CODE
	,RXNORM_CODES.RXNORM_TERM_TYPE_C
	,ZC_RXNORM_TERM_TYPE.NAME AS ZC_RXNORM_TERM_TYPE_NAME
	,ORDER_MED.RSN_FOR_DISCON_C
	,ZC_RSN_FOR_DISCON.NAME AS ZC_RSN_FOR_DISCON_NAME
	,MAR_ADMIN_INFO.INFUSION_RATE
	,MAR_ADMIN_INFO.MAR_INF_RATE_UNIT_C
	,INF_RATE.NAME AS INFUSION_RATE_UNIT_NAME
	,MAR_ADMIN_INFO.DOSE_UNIT_C
	,DOSE_UNIT.NAME AS DOSE_UNIT_NAME
	,QUANTITY
	,MAR_ADMIN_INFO.SIG
	,MAR_ADMIN_INFO.LINE AS MAR_ADMIN_INFO_LINE
	,MAR_ADMIN_INFO.MAR_ACTION_C
	,MAR_RESULT.NAME AS MAR_ACTION_NAME
	,MAR_ADMIN_INFO.REASON_C
	,ZC_MAR_RSN.NAME AS MAR_REASON_NAME
	,MAR_ADMIN_INFO.MAR_ENC_CSN
	,MAR_ADMIN_INFO.ORDER_MED_ID
	,CLARITY_MEDICATION.MEDICATION_ID
	,CLARITY_MEDICATION.NAME AS CLARITY_MEDICATION_NAME
	,MAR_ADMIN_INFO.ROUTE_C
	,ZC_ADMIN_ROUTE.NAME AS ZC_ADMIN_ROUTE_NAME
	,ORDER_STATUS_C
	,'PULL_DRUG_EXPOSURE--CLARITYANES--RXNORM' AS ETL_MODULE

--INTO OMOP_CLARITY.DRUG_EXPOSURE_CLARITYANES_RXNORM

FROM SH_OMOP_DB_PROD.CDM.AOU_DRIVER

INNER JOIN SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ.PAT_ENC_HSP
	ON AOU_DRIVER.EPIC_PAT_ID = PAT_ENC_HSP.PAT_ID

-- ASSOCIATES ANETHESIA RECORD TO HOSPITAL ENCOUNTER
INNER JOIN SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ.AN_HSB_LINK_INFO
	ON AN_HSB_LINK_INFO.AN_BILLING_CSN_ID = PAT_ENC_HSP.PAT_ENC_CSN_ID

INNER JOIN SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ.F_AN_RECORD_SUMMARY
	ON F_AN_RECORD_SUMMARY.AN_EPISODE_ID = AN_HSB_LINK_INFO.SUMMARY_BLOCK_ID

INNER JOIN SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ.MAR_ADMIN_INFO
	ON F_AN_RECORD_SUMMARY.AN_52_ENC_CSN_ID = MAR_ADMIN_INFO.MAR_ENC_CSN

INNER JOIN SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ.ORDER_MED
	ON ORDER_MED.ORDER_MED_ID = MAR_ADMIN_INFO.ORDER_MED_ID

INNER JOIN SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ.CLARITY_MEDICATION
	ON ORDER_MED.MEDICATION_ID = CLARITY_MEDICATION.MEDICATION_ID

LEFT JOIN SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ.ZC_RSN_FOR_DISCON
	ON ORDER_MED.RSN_FOR_DISCON_C = ZC_RSN_FOR_DISCON.RSN_FOR_DISCON_C

--LEFT JOIN CDM.PROVIDER
--	ON ORDER_MED.AUTHRZING_PROV_ID = PROVIDER.PROVIDER_SOURCE_VALUE

LEFT JOIN SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ.ZC_ADMIN_ROUTE
	ON MAR_ADMIN_INFO.ROUTE_C = ZC_ADMIN_ROUTE.MED_ROUTE_C

LEFT JOIN SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ.ZC_MED_UNIT AS INF_RATE
	ON MAR_ADMIN_INFO.MAR_INF_RATE_UNIT_C = INF_RATE.DISP_QTYUNIT_C

LEFT JOIN SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ.ZC_MED_UNIT AS DOSE_UNIT
	ON MAR_ADMIN_INFO.DOSE_UNIT_C = DOSE_UNIT.DISP_QTYUNIT_C

LEFT JOIN SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ.ZC_MAR_RSLT AS MAR_RESULT
	ON MAR_ADMIN_INFO.MAR_ACTION_C = MAR_RESULT.RESULT_C

LEFT JOIN SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ.ZC_MAR_RSN
	ON MAR_ADMIN_INFO.REASON_C = ZC_MAR_RSN.REASON_C

INNER JOIN SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ.RXNORM_CODES
	ON ORDER_MED.MEDICATION_ID = RXNORM_CODES.MEDICATION_ID

INNER JOIN SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ.ZC_RXNORM_TERM_TYPE
	ON RXNORM_CODES.RXNORM_TERM_TYPE_C = ZC_RXNORM_TERM_TYPE.RXNORM_TERM_TYPE_C

WHERE MAR_ACTION_C = 1; -- GIVEN  

