--Structure: (if your structure is different, you will have to modify the code to match)
--    Databases:SH_OMOP_DB_PROD, SH_CLINICAL_DB_PROD
--    Schemas: SH_OMOP_DB_PROD.OMOP_CLARITY, SH_OMOP_DB_PROD.CDM, SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ


--USE ROLE SF_SH_OMOP_DEVELOPER;

--USE SCHEMA SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ;
--USE SCHEMA SH_OMOP_DB_PROD.OMOP_CLARITY;
--USE SCHEMA SH_OMOP_DB_PROD.CDM;

--USE WAREHOUSE SH_OMOP_DATA_SCIENCE_WH;

    
CREATE OR REPLACE TABLE SH_OMOP_DB_PROD.OMOP_CLARITY.DEVICE_EXPOSURE_CLARITYHOSP_BLOOD 
AS  

WITH T_CODES
AS (
	SELECT BLOOD_ADMIN_INFO.ORDER_ID
		,BLOOD_ADMIN_INFO.BLOOD_ADMIN_UNIT
		,BLOOD_ADMIN_INFO.BLOOD_ADMIN_PROD
		,BLOOD_ADMIN_INFO.BLOOD_ADMIN_TYPE
		,ORDER_PROC.PROC_ID
		,ORDER_PROC.PROC_CODE
		,ORDER_PROC.ORDERING_DATE
		,CLARITY_EAP.PROC_NAME
	
	FROM SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ.BLOOD_ADMIN_INFO
	
	INNER JOIN SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ.ORDER_PROC
		ON BLOOD_ADMIN_INFO.ORDER_ID = ORDER_PROC.ORDER_PROC_ID
	
	INNER JOIN SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ.CLARITY_EAP
		ON ORDER_PROC.PROC_ID = CLARITY_EAP.PROC_ID
	
	WHERE (BLOOD_ADMIN_INFO.LINE = 1)
	)

SELECT SUBSTRING(AOU_DRIVER.AOU_ID, 2, LEN(AOU_DRIVER.AOU_ID))::NUMBER(28,0) AS PERSON_ID
	,AOU_ID
	,PROC_START_TIME
	,PROC_ENDING_TIME
	,T_CODES.BLOOD_ADMIN_UNIT
	,ORDER_PROC.QUANTITY
	,ORDER_PROC.PROC_ID
	,ORDER_PROC.PROC_CODE
	,CLARITY_EAP.PROC_NAME
	,PAT_ENC_HSP.PAT_ENC_CSN_ID
	,ORDER_PROC.FUTURE_OR_STAND
	,ORDER_PROC.INSTANTIATED_TIME
	,AUTHRZING_PROV_ID
	,'PULL_DEVICE_EXPOSURE--CLARITYHOSP--BLOOD' AS ETL_MODULE

--INTO SH_OMOP_DB_PROD.OMOP_CLARITY.DEVICE_EXPOSURE_CLARITYHOSP_BLOOD

FROM SH_OMOP_DB_PROD.CDM.AOU_DRIVER

INNER JOIN SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ.PAT_ENC_HSP
	ON AOU_DRIVER.EPIC_PAT_ID = PAT_ENC_HSP.PAT_ID

INNER JOIN SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ.ORDER_PROC
	ON PAT_ENC_HSP.PAT_ENC_CSN_ID = ORDER_PROC.PAT_ENC_CSN_ID
		AND ORDER_PROC.FUTURE_OR_STAND IS NULL
		AND ORDER_PROC.INSTANTIATED_TIME IS NOT NULL

LEFT JOIN SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ.CLARITY_EAP
	ON ORDER_PROC.PROC_ID = CLARITY_EAP.PROC_ID

INNER JOIN T_CODES
	ON ORDER_PROC.ORDER_PROC_ID = T_CODES.ORDER_ID

