
--Structure: (if your structure is different, you will have to modify the code to match)
--    Databases:SH_OMOP_DB_PROD, SH_CLINICAL_DB_PROD
--    Schemas: SH_OMOP_DB_PROD.OMOP_CLARITY, SH_OMOP_DB_PROD.CDM, SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ

--USE ROLE SF_SH_OMOP_DEVELOPER;

--USE SCHEMA SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ;
--USE SCHEMA SH_OMOP_DB_PROD.OMOP_CLARITY;
--USE SCHEMA SH_OMOP_DB_PROD.CDM;

--USE WAREHOUSE SH_OMOP_DATA_SCIENCE_WH;

--    
CREATE OR REPLACE TABLE SH_OMOP_DB_PROD.OMOP_CLARITY.DEVICE_EXPOSURE_CLARITYHOSP_LDA 
AS  


SELECT DISTINCT SUBSTRING(AOU_DRIVER.AOU_ID, 2, LEN(AOU_DRIVER.AOU_ID)) AS PERSON_ID
    ,AOU_DRIVER.CPI
	,IP_LDA_NOADDSINGLE.PAT_ID
	,IP_LDA_NOADDSINGLE.IP_LDA_ID
	,IP_LDA_NOADDSINGLE.PAT_ENC_CSN_ID
	,IP_LDA_NOADDSINGLE.FLO_MEAS_ID
	,IP_FLO_GP_DATA.FLO_MEAS_NAME
	,IP_FLO_GP_DATA.DISP_NAME AS FLO_MEAS_DISP_NAME
	,IP_LDA_NOADDSINGLE.PLACEMENT_INSTANT
	,IP_LDA_NOADDSINGLE.REMOVAL_INSTANT
	,IP_LDA_NOADDSINGLE.DESCRIPTION
	,IP_LDA_NOADDSINGLE.PROPERTIES_DISPLAY
	,IP_LDA_NOADDSINGLE.SITE
	,PAT_ENC_HSP.BILL_ATTEND_PROV_ID
	,'PULL_DEVICE_EXPOSURE--CLARITYHOSP--LDA' AS ETL_MODULE

--INTO SH_OMOP_DB_PROD.OMOP_CLARITY.DEVICE_EXPOSURE_CLARITYHOSP_LDA

FROM SH_OMOP_DB_PROD.CDM.AOU_DRIVER

INNER JOIN SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ.PAT_ENC_HSP  
	ON AOU_DRIVER.EPIC_PAT_ID = PAT_ENC_HSP.PAT_ID

INNER JOIN SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ.IP_LDA_NOADDSINGLE  
	ON (PAT_ENC_HSP.PAT_ENC_CSN_ID = IP_LDA_NOADDSINGLE.PAT_ENC_CSN_ID)

INNER JOIN SH_CLINICAL_DB_PROD.EPIC_CLARITY_LZ.IP_FLO_GP_DATA  
	ON IP_LDA_NOADDSINGLE.FLO_MEAS_ID = IP_FLO_GP_DATA.FLO_MEAS_ID




